*{
    margin: 0px;
    padding: 0px;
}
/*Mobile*/
@media (max-width: 767px){

}
/*Small-Screens*/
@media (min-width: 768px){

}
/*Midium-Screens*/
@media (min-width: 992px){

}
/*Large-Screens*/
@media (min-width: 1200px){

}
/*Custom*/
@media (max-width: 1400px){

}
header{
    background-image: url(../../OneDrive/Pictures/headerbg.png);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 11%;
    width: 100%;
    height: 719px;
}
.content{
    text-align: center;
    margin: 60px;
    padding: 200px;
}
h1{
    color: white;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.lo{
    display: flex;
    background-color: rgb(233, 241, 249);
    width: 100%;
    height: 65px;
}
h2{
    margin: 0;
    padding: 5px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    position: absolute;
    left: 500px;
    width: 250px; 
    border-bottom: 2px solid rgb(57, 116, 253) ;
}
h5{
    padding: 30px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h3{
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: rgb(46, 121, 241);
    width: 150px;
    height: 35px;
    position: absolute;
    left: 538px;
    padding: 10px;
    border-width: 2px;
    position: absolute;
    left: 480;
}
.ap{
   background-color: rgb(243, 243, 243);
   width: 100%;
   height: 300px;
   margin: 0px;
   margin: 0px;
   padding: 0px;
}
h4{
    padding: 90px;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(32, 34, 52);
}
p{
    text-align: center;
    color: rgb(103, 103, 103);
    margin: 10px;
    padding: 1px;
    position: relative;
    top: -70px;
}
.photo{
    position: relative;
    top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
h6{
    color: rgb(32, 34, 52);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
p1{
    color: rgb(87, 87, 87)
}
.show{
    background-color: rgb(240, 240, 240);
    width: 100%;
    display: flex;
    text-align: center;
}
h6{
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
p8{
    position: absolute;
    padding: 5px;
    left: 515px;
    color: rgb(72, 72, 72);
}
h2{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p9{
   color: rgb(87, 87, 87);
}
.container{
    position: absolute;
    margin-top: -430px;
    left: 520px;
}
.container h1{
    padding-top: 1px;
}
form{
    padding-top: 10px;
}