
* {
    margin: 0;
    padding: 0;
    
}

header {
    background-image: url(./home_bg.png);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.7);


}


header * {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    padding-top: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 10px;
    align-items: center;
}

nav li {
    padding: 40px;
    color: white;
}

nav img {
    width: 90px;
    padding-left: 80px;
}

.qq li {
    font-size: 18px;
    font-weight: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.qq {
    padding-right: 30px;
}

.aa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.aa h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.aa span {
    color: #f1a20b;
}

.aa p {
    font-family: 'Montserrat', sans-serif;
    padding-top: 25px;
}

.aa button {
    margin-top: 35px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    padding: 12px 35px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.aa button:hover {
    background-color: #c47705;
    transform: scale(1.05);
}

main {
    background-color: white;
}

.ss {
    text-align: center;
}

.ss h1 {
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
}

.ss p {
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    color: gray;
}

main .dd {
    display: flex;
    padding: 0 50px;
    height: 80vh;
    padding-top: 90px;
}

.dd p {
    color: rgb(128, 128, 128);
    flex: 1;
    font-size: 20px;
}

.ff img {
    flex: 1;
    display: flex;
}

.dd button {
    margin-top: 30px;
    padding: 12px 20px;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dd button:hover {
    background-color: gray;
    color: black;
    transform: scale(1.05);
}

.gg img {
    display: block;
    height: 50px;
    width: 100%;
}

.cont {
    background-image: url(./offer-background.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    margin-top: 0;
}

.hh {
    text-align: center;
    padding: 25px;
}

.hh h1 {
    color: #f1a20b;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.hh p {
    color: white;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.cost {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    margin: 10px auto;
}

.jj {
    text-align: center;
}

.jj h2 {
    padding-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.jj p {
    padding-top: 20px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
}

.jj del,
.jj span {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.jj span {
    color: #f1a20b;
    padding-left: 5px;
}

.jj del {
    color: white;
}

.kk {
    text-align: center;
}

.kk h2 {
    padding-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.kk p {
    padding-top: 20px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
}

.kk del,
.kk span {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.kk span {
    color: #f1a20b;
    padding-left: 5px;
}

.kk del {
    color: white;
}

.ll {
    text-align: center;
}

.ll h2 {
    padding-top: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.ll p {
    padding-top: 20px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
}

.ll del,
.ll span {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.ll span {
    color: #f1a20b;
    padding-left: 5px;
}

.ll del {
    color: white;
}

.uu {
    background-color: black;
    height: 50px;
    display: block;
}

#menu {
    background-color: white;
    height: 1000px;
}

.xx {
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
}

.xx h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;

}

.xx p {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

.secion {
    background-image: url(./daytime_bg.png);
    background-position: center;
    background-size: cover;
    height: 170px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.cc {
    text-align: center;
}

.cc h2 {
    color: white;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.cc p {
    color: white;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.cq {
    text-align: center;
}

.cq h2 {
    color: white;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.cq p {
    color: white;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.cw {
    text-align: center;
    padding-top: 10px;
}

.cw h2 {
    color: white;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.cw p {
    color: white;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.ce {
    text-align: center;
}

.ce h2 {
    color: white;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.ce p {
    color: white;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.im {
    background-image: url(./offer-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.mp h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 100px;
}

.mm {
    padding-top: 20px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.mg {
    margin: 10px auto;
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

.mm img {
    border-radius: 10px;
    filter: 0.6;
}

.mg img {
    border-radius: 10px;
}

aside {
    background-color: white;
}

.fi-rr-marker {
    font-size: 20px;
    color: #FFD700;
    padding-right: 5px;
    padding-top: 15px;
}

.fi-rr-phone-call {
    color: #FFD700;
    font-size: 20px;
    padding-top: 7px;
    padding-right: 5px;
}

.fi-rr-envelope {
    color: #FFD700;
    font-size: 20px;
    padding-top: 5px;
    padding-right: 5px;
}


.hee {
    padding-top: 70px;
    padding-left: 100px;
}

.hee h1 {
    font-family: 'Poppins', sans-serif;
}

.heee {
    display: flex;
}

.heee p {
    padding-top: 20px;
    color: gray;
    padding-left: 5px;
}

.heeee {
    display: flex;
}

.heeee p {
    padding-top: 10px;
    color: gray;
    padding-left: 5px;
}

.heeeee {
    display: flex;
}

.heeeee p {
    padding-top: 5px;
    padding-left: 5px;
    color: gray;
}

.aw {
    padding-top: 30px;
}

.aw p {
    color: gray;
}

.aww p {

    padding-top: 20px;
}

.hee h2 {
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
}

.nn {
    gap: 10px;
    padding-top: 15px;
}

.she {
    margin-top: 30px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 400px;

}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    background-color: #e0e0e0;
    font-size: 16px;
}

form textarea {
    height: 120px;
    resize: none;
}

form button {
    width: 170px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #e4b95b;
    color: white;
    font-size: 16px;

    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: white;
    color: black;
}

aside {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    padding: 40px 100px;
}

.vv {
    background-image: url(./offer-background.jpg);
    background-position: center;
    background-size: cover;
    height: 50px;
}

.vv p {
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}

#menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    gap: 200px;
}

#menu .menu-items .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu .menu-items .menu-item img {
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 30px;
}

#menu .menu-items .menu-item h3 {
    color: #383848;
    border-bottom: 1px dashed #c2c2bdbd;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
}

#menu .menu-items .menu-item span {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 20%px;
    padding-top: 40px;
    color: #f1a20b;
}

.mn {
    text-align: center;
    margin-bottom: 20px;
}

.mn button {
    width: 170px;
    color: white;
    padding: 12px;
    border-radius: 10px;
    background-color: #e4b95b;
    border: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

}

#menu .menu-items .menu-item p {
    margin-top: 10px;
}

img:hover,
button:hover,
.menu-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header,
main,
.cont,
.im,
aside {
    animation: fadeInUp 1s ease forwards;
}

nav ul li {
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}

nav ul li:hover {
    color: #f1a20b;
    transform: scale(1.1);
}

nav ul li::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #f1a20b;
    transition: width 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
}

@keyframes slideDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

nav {
    animation: slideDown 1s ease forwards;
}

nav ul li {
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
}

nav ul li:hover {
    color: #f1a20b;
    transform: scale(1.1);
}

nav ul li::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #f1a20b;
    transition: width 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
}


@keyframes fadeInNavItem {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav ul li {
    animation: fadeInNavItem 0.8s ease forwards;
}

nav ul li:nth-child(1) {
    animation-delay: 0.3s;
}

nav ul li:nth-child(2) {
    animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
    animation-delay: 0.7s;
}

nav ul li:nth-child(4) {
    animation-delay: 0.9s;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.aa h1 {
    animation: fadeDown 1s ease forwards;
}

.aa p {
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.4s;
}

.aa button {
    animation: popUp 0.8s ease forwards;
    animation-delay: 0.8s;
}

/* ======== Mobile Phones ======== */
@media (max-width: 480px) {

    /* Navigation */
    nav {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    nav img {
        width: 70px;
        padding-left: 0;
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav li {
        padding: 8px 0;
        font-size: 14px;
    }

    /* Header */
    .aa {
        padding-top: 60px;
    }

    .aa h1 {
        font-size: 22px;
        line-height: 1.2;
    }

    .aa p {
        font-size: 14px;
        padding-top: 10px;
    }

    .aa button {
        padding: 8px 15px;
        font-size: 13px;
        margin-top: 20px;
    }

    /* About Section */
    .dd {
        flex-direction: column;
        padding: 15px;
        height: auto;
    }

    .dd p {
        font-size: 14px;
    }

    .ff img {
        width: 100%;
        margin-top: 15px;
    }

    /* Special Offers */
    .cost {
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;
    }

    .jj, .kk, .ll {
        margin: 0 auto;
    }

    .jj img, .kk img, .ll img {
        width: 150px;
    }

    .jj h2, .kk h2, .ll h2 {
        font-size: 18px;
    }

    .jj p, .kk p, .ll p {
        font-size: 13px;
    }

    .jj span, .kk span, .ll span, .jj del, .kk del, .ll del {
        font-size: 13px;
    }

    /* Menu */
    #menu .menu-items {
        flex-direction: column;
        gap: 20px;
        margin: 20px;
    }

    #menu .menu-items .menu-item {
        flex-direction: column;
        text-align: center;
    }

    #menu .menu-items .menu-item img {
        width: 100px;
        margin-bottom: 10px;
    }

    #menu .menu-items .menu-item h3 {
        font-size: 16px;
        padding-top: 10px;
    }

    #menu .menu-items .menu-item p {
        font-size: 12px;
    }

    .mn button {
        width: 140px;
        padding: 8px 15px;
        font-size: 13px;
    }

    /* Gallery */
    .mm, .mg {
        flex-direction: column;
        gap: 10px;
    }

    .mm img, .mg img {
        width: 100%;
        height: auto;
    }

    /* Sections (Breakfast, Lunch, etc.) */
    .secion {
        flex-direction: column;
        gap: 15px;
        height: auto;
        padding: 20px 0;
    }

    .cc, .cq, .cw, .ce {
        margin-bottom: 10px;
    }

    /* Aside */
    aside {
        flex-direction: column;
        padding: 15px;
    }

    .hee, .she {
        width: 100%;
        padding: 10px;
    }

    .hee h1, .hee h2 {
        font-size: 16px;
    }

    .hee p {
        font-size: 12px;
    }

    .nn img {
        width: 30px;
    }

    /* Footer */
    .vv p {
        font-size: 12px;
        padding: 10px;
    }
}
@media (max-width: 480px) {

    /* Gallery Images */
    .mm img,
    .mg img {
        width: 200px;    
        height: auto;       
        margin-bottom: 10px; 
        display: block;     
    }

    #menu .menu-items .menu-item img {
        width: 100px;       
        max-width: 150px;  
        margin: 0 auto 10px auto;  
        display: block;
    }

    #menu .menu-items .menu-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
}
@media (max-width: 480px) {

    /* Gallery Container */
    .mm, .mg {
        display: flex;
        flex-direction: row;   /* الصفوف أفقي */
        flex-wrap: wrap;       /* يسمح للصور بالانتقال للسطر التالي */
        justify-content: center; /* الصور في الوسط */
        gap: 10px;             /* مسافة بين الصور */
        padding: 0 10px;       /* حواف من الجوانب */
    }

    /* Gallery Images */
    .mm img,
    .mg img {
        width: calc(50% - 10px);  /* نصف عرض الحاوية ناقص الفراغ */
        height: auto;
        display: block;
        margin: 0;
        border-radius: 10px;
    }
}
@media (max-width: 480px) {

    /* Header content */
    .aa h1 {
        font-size: 20px;
        line-height: 1.3;
    }
    .aa p {
        font-size: 14px;
    }
    .aa button {
        padding: 8px 15px;
        font-size: 13px;
    }

    /* About section */
    .dd {
        flex-direction: column;
        padding: 15px;
        gap: 15px; /* مسافة بين الفقرة والصورة */
        height: auto;
    }
    .ff img {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    /* Special Offers */
    .cost {
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
    }
    .jj, .kk, .ll {
        margin: 0 auto;
        text-align: center;
    }
    .jj img, .kk img, .ll img {
        width: 80%;
        max-width: 150px;
    }

    /* Menu Items */
    #menu .menu-items {
        flex-direction: column;
        gap: 20px;
        margin: 0 10px;
    }
    #menu .menu-items .menu-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    #menu .menu-items .menu-item img {
        width: 80%;
        max-width: 150px;
    }

    /* Gallery */
    .mm, .mg {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0 10px;
    }
    .mm img, .mg img {
        width: calc(50% - 10px);
        height: auto;
        display: block;
        margin: 0;
        border-radius: 10px;
    }

    /* Sections (Breakfast, Lunch, etc.) */
    .secion {
        flex-direction: column;
        gap: 15px;
        height: auto;
        padding: 10px;
    }
    .cc, .cq, .cw, .ce {
        margin-bottom: 10px;
        text-align: center;
    }

    /* Aside */
    aside {
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
    .hee, .she {
        width: 100%;
        padding: 10px;
    }
    .nn img {
        width: 30px;
    }

    /* Footer */
    .vv p {
        font-size: 12px;
        padding: 10px;
    }
}

